body{
    background: #36454F;
}
h1 {
    text-align: center;
    position: center;
    color: gold;
    font-size: 80px;

}
button {
    padding: 10px;
    font-size: 18px;
    color: gold;
    background-color: lightseagreen;
    position: relative; 
    left: 43%;
    height: 60px;
   
    
}
.container {
    width: 100vw;
    height: 54vh;
    display: grid;
    justify-content: center;
 }

.cell {
    width: 400px;
    height: 400vhx;
    color: rgb(0, 255, 251); 
    text-align: center; 
    display: flex;
    flex-wrap: wrap; 
    background-color: lightcoral;
   
  
}
.cell div{
    width: 100px;
    height: 100px;
    background-color: rgb(9,4,3,0);
    font-size: 50px;
    display: grid; 
    text-align: center;
}

hr{
    border-top: 3px solid;
    color: gold;
    margin-top: 60px;
    width: 40% ;
}
p {
    color: aqua;
    font-size: 20px;
    text-align: center;
}